@import "tailwindcss";

/* --- Variables globales --- */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #f97316;
  --secondary-color: #ea580c;
}

/* --- Intégration Tailwind du thème --- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Police par défaut = INTER */
  --font-sans: var(--font-inter);

  /* Couleurs personnalisées */
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
}

/* --- Mode sombre --- */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* --- Style global du site --- */
body {
  background: var(--background);
  color: var(--foreground);
}