@import "tailwindcss";

/* --- Variables globales --- */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #f97316;
  --secondary-color: #ea580c;
}

/* --- Intégration Tailwind du thème --- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Police par défaut = INTER */
  --font-sans: var(--font-inter);

  /* Couleurs personnalisées */
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
}

/* --- Mode sombre --- */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* --- Style global du site --- */
body {
  background: var(--background);
  color: var(--foreground);
}

/* === Utilitaires personnalisés === */

/* Hide scrollbar (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox, IE/Edge) */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Line clamp 2 */
.line-clamp-2 {
  line-clamp: 2;
  /* Standard */
  display: -webkit-box;
  /* Compatibilité WebKit */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.25s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}